<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://kit.fontawesome.com/f9506a9330.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
  

    
    <section class="contents">
        <div class="titleh">      
            <h1 class="title">stitchfeed</h1>
        </div>
    <h1 class="l">  The next big thing is here...  </h1>
</section>
    
    
</body>
</html>