<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/f9506a9330.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body><div class="event-section">
    <div class="user-id"><div class="list">
        <ul>
            <li class="people"><i class="fas fa-at"></i></li>
           
            <li class="interest"><i class="fab fa-slack-hash"></i></li>
        </ul>
    </div>
</div>
    <script src="script.js"></script>
</body>
</html>