<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://kit.fontawesome.com/f9506a9330.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
   <section class="web-view">
    <section class="header">
    <nav class="nav-bar">
        <div class="titleh">      
            <h1 class="title">stitchfeed</h1>
        </div>
    </nav> 
    </section>
<section class="first-section">
    <ul>
        
        <!-- <li> # Discover people with your <a>interest</a>...</li>
        <li> @ Take part in <a>live events</a> near you...</li> -->
      
            <!-- <li> # Discover people with your <a>interest</a>,</li>
            <li> @ Take part in <a>live events</a> near you,</li>
            <span class="hide">
        <li> # <a>Invited lives,</a> for an occasion,</li></span>
        <li> @ <a>Clips</a>, show your talent,</li>
        <li> # <a>Stitch a feed </a>when you are happy,</li>
        <li> @ And <a>more...</a></li> -->
        <li>Sign up to a new world of <a>sharing</a>.</li>
    </ul>
</section>
<section class="second-section">
    <ul>
        
        <li class="login"><a href="#">Log In</a></li>
        <li class="signup"><a href="#">Sign Up</a></li> 
      </ul>  
</section>
<div class="footer">
<footer class="copyrights">&copy stitchfeed inc. Sreehari Nambiar</footer>
</div>


    </section>
    <section class="mobile-view">
        <section class="header-mobile">
            <nav class="nav-bar">
                <div class="titleh">      
                    <h1 class="title">stitchfeed</h1>
                </div>
            </nav> 
            </section>
        <section class="first-section-mobile">
            <ul class="topic">
                
                <!-- <li> # Discover people with your <a>interest</a>...</li>
                <li> @ Take part in <a>live events</a> near you...</li> -->
              <!-- <li>Sign up to see what's happening nearby</li> -->
              <li>Sign up to a new world of sharing.</li>
            </ul>
        </section>
        <section class="second-section-mobile">
            <ul class="buttons">
                
                <li class="login-mobile"><a href="#">Log In</a></li>
                <li class="signup-mobile"><a href="#">Sign Up</a></li> 
              </ul>  
            </section>
            <section class="footer-mobilessss">
        <div class="footer-mobile">
        <footer class="copyrights-mobile">&copy stitchfeed inc. Sreehari Nambiar</footer>
        </div>
    </section>
    </section>
    <script src="script.js"></script>
</body>
</html>