<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://kit.fontawesome.com/f9506a9330.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
  
        <!-- Heading -->
        <nav class="nav-bar">
            <div class="titleh">      
                <h1 class="title">stitchfeed</h1>
            </div>
            <div class="custom-select-wrapper">
                <div class="custom-select">
                    <div class="custom-select__trigger"><span>Home</span>
                        <div class="arrow"></div>
                    </div>
                    <div class="custom-options">
                        <span class="custom-option selected" data-value="Home">Home</span>
                        <span class="custom-option" data-value="About">About Us</span>
                        <span class="custom-option" data-value="Features">Features</span>
                        <span class="custom-option " data-value="Blog">Blog</span>
                        <span class="custom-option " data-value="Company">Company</span>
                        <span class="custom-option" data-value="Values">Values</span>
                        <span class="custom-option" data-value="Help">Help</span>
                        
                    </div>
                </div>
            </div>
                <ul class="homebar-2">
                  <li><a>Log In</a></li>
                  <li><a>Sign Up</a></li> 
                  
                </ul>
               
        
        </nav>
      
    
    <!-- <section class="head">
    <nav class="nav-bar-2">
        <div class="list">
            <ul>
                <li class="homes"><a href="#">Home</a></li>
                <li class="features"><a href="#">Features</a></li>
                <li class="Company"><a href="#">Company</a></li>
                <li class="Creators"><a href="#">Creators</a></li>
                <li class="Blog"><a href="#">Blog</a></li>
                <li class="Value"><a href="#">Value</a></li>
                <li class="About"><a href="#">About</a></li>
            </ul>
        </div>
    </nav>
</section> -->
   <section class="container">
    
    </section>


 <script src="script.js"></script>
    
</body>
</html>