/* CSS RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* stop the animation during resizing */
.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
  }



/* Remeber to add a zooming in the dropdown 3 zoom levels low med high */



*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --gradient2:linear-gradient(45deg,
    
    red,
    purple,#00bbff,green
    );
}
:root{
    --gradient:linear-gradient(45deg,
    #00bbff,
    #fff);
}

/*:root{
    filter: invert(100%);
}*/

/*is active classes*/
.is-active-2 a i{
    color:#00bbff;
}
.is-active-2 a{
    background-color:#232425;
    border:1px solid #0e0e0e;
}
.is-active-3 a i{
    color:#00bbff;
}

/* .is-active-4{
    background-color:#232425;
} */

html{
    font-family:'Poppins',sans-serif;
    /* font-size:87.50%; */
    font-size:14px;
    margin-bottom: 0;
    
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment:fixed;   
}

body{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    background-color: #feffff;
    max-height:100vh;
    color:#808080;
  
}



.nav-bar{
    display:flex;
    flex-direction: row;
    width: 100vw;
    height:5em;
    justify-content: space-around;
    align-items: center;
    border-bottom:0.5px solid transparent;
    position:fixed;
    top:0;
    left:0;
    box-shadow: -10px -10px 15px #fff, 10px 10px 15px #d9d9d9;
  
    
}

.titleh{
    display: flex;
    background-color:none;
    width:fit-content;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #00b4cc; */
    width:100%;
    height:100%;
}
.title{
    font-family: 'Pacifico', cursive;
    color:#00bbff;
    background-color: none;
    cursor:pointer;
    transition:0.2s;
    text-overflow: clip;
    width:fit-content;
    font-size:2em;   
}

.title:hover{
    color:#00b4cc;
}
.homebar-2{
    display: flex;
    background-color:none;
    width:100%;
    justify-content: center;
    align-items: center;
    background-color: none;
    font-size:1.5em;
    padding:0.0em;
    /* background-color: #00b4cc; */
    height: 100%;
}
.homebar-2 li{
    padding:0em 0.25em;
}
.homebar-2 li i{
    padding:0.5em;
    border-radius:100%;
    box-shadow:-10px -10px 15px #202020,10px 10px 15px #000;
    cursor:pointer;
    border:1px solid transparent;
}

.homebar-2 li i:hover{
    box-shadow: -10px -10px 15px #202020, 10px 10px 15px #000;
    transform: scale(1.1);
    background:linear-gradient(145deg,#252525, #111111);
    border:1px solid #00bbff;
}
.homebar-2 li a{
    -webkit-appearance: none;
    box-shadow:-5px -5px 8px #fff, 5px 5px 10px #d9d9d9;
    border-radius:10px;
    outline: none;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    white-space:pre-wrap;
    cursor: pointer;
    text-decoration: none;
    color:#ececec;
    padding:0.75em 1em;
    font-size:0.75em;
    font-weight: bold;
    transition:0.2s;
    line-height: normal; 
    color:#808080; 
  
}

.homebar-2 li a:hover{
    color:#00b4cc;
    box-shadow: -10px -10px 15px #fff, 10px 10px 15px #d9d9d9;
    transform:scale(1.1);
    background-color:transparent;
    border:1px solid #00bbff;
}

.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
 
   
   
}
.custom-select {
    /* position: relative;
    display: flex;
    flex-direction: column; */
    /* border-width: 0 2px 0 2px; */
     /* border-color: #394a6d; */
    /* border-style: solid; */
    
    /* border-bottom: 2px solid #00bbff; */
   
}
.custom-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 20px;
    font-weight: 300;
    color: #3b3b3b;
    height: 2.5em;
    line-height: 2.5em;
    background: #ffffff;
    cursor: pointer;
    /* border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: #394a6d; */
    text-align: center;
    background-image:var(--gradient);
    background-size: 300%;
    background-position: left;
    animation:bg-animation 30s infinite alternate ;
    /* border:1px solid #222; */
    box-shadow: -10px -10px 15px #fff, 10px 10px 15px #d9d9d9;
    color:#000;
    border-radius: 50px;

}
.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    /* border: 1px solid #00bbff; */
    border-top: 0;
    /* background: #fff; */
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    background-image:var(--gradient);
    background-size: 300%;
    background-position: left;
    animation:bg-animation 30s infinite alternate ;
    /* border:1px solid #222; */
    box-shadow: -10px -10px 10px #fff, 10px 10px 15px #d9d9d9;
    
}
@keyframes bg-animation{
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}
.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 22px;
    font-weight: 300;
    color: #3b3b3b;
    line-height: 60px;
    cursor: pointer;
    text-align: center;
   
   
}
.custom-option:hover {
    cursor: pointer;
    color:#fff;
    background-color: rgba(0,0,0,0.5);
    /* background-image:var(--gradient2);
    background-size:300%;
    background-position: left;
    animation: bg-animation 30s infinite alternate; */
  
}
.custom-option.selected {
    color: #ffffff;
    background-image:var(--gradient2);
    background-size:500%;
    background-position: left;
    animation: bg-animation 30s infinite alternate;
}

.arrow {
    position: relative;
    height: 15px;
    width: 15px;
    
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::before {
    left: -5px;
    transform: rotate(-45deg);
    background-color: #394a6d;
}
.arrow::after {
    left: 5px;
    transform: rotate(45deg);
    background-color: #394a6d;
}
.open .arrow::before {
    left: -5px;
    transform: rotate(45deg);
}
.open .arrow::after {
    left: 5px;
    transform: rotate(-45deg);
}

@media(max-width:600px){
    .homebar-2{
        display:none;
    }

    .custom-select-wrapper{
      margin-right:0.5em;
    }
}