<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css"> 
    <script src="https://kit.fontawesome.com/f9506a9330.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
   <section class="web-view">
      
       <section class="first-section">
           <section class="align-items">
        <section class="titleh">
            <h1 class="title">stitchfeed</h1>
        </section>
        <form class="form">
            <ul class="inputs">
            <li class="username"><input type="text" placeholder="Username / phone number" name="username" id="username" autocomplete="off"></li>
            <li class="password"><input type="password" placeholder="Password"name="password" id="password" autocomplete="off"></li>
            <li class="button"><button type="submit" class="btn">Log In</button></li>
            
            </ul>
        </form>
        <section class="forgot">
            <ul>
                <li class="forgots"><a href="#">Forgot Password?</a></li>
                <li class="hashtag">|</li>
                <li class="signup"><a href="#">Sign Up</a></li>
            </ul>
        </section>
    </section>
       </section>
         
            <section class="footer">
                <div class="footers">
                <footer class="copyrights">&copy stichfeed inc. Sreehari Nambiar</footer>
                </div>
            </section>
            </section>
      
<script src = "script.js"></script>
</body>
</html>

